<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <script src="https://unpkg.com/htmx.org@1.9.10"></script>
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
        {% endblock %}
    </head>
    <body>
    <div>
        <a
            hx-get="/" 
            hx-target="body"
        >Home</a> |
        <a
            hx-get="{{ path('properties') }}" 
            hx-target="body"
        >Properties</a> |
        <a
            hx-get="{{ path('regional_settings') }}" 
            hx-trigger="click" 
            hx-target="body"
        >Regional Settings</a>
        |
        {% if app.user %}
            <span>
                You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
            </span>
        {% endif %}
    </div>
    {% for message in app.flashes('message') %}
        <p><em>{{ message }}</em></p>
    {% endfor %}
    {% block body %}{% endblock %}
  </body>
</html>
