{% extends 'base.html.twig' %}

{% block title %}{{ property.address }}{% endblock %}

{% block body %}
    <img src="{{ asset('uploads/images/' ~ property.imagePath) }}" width="256">
    <p>Property ID: {{ property.id }}</p>
    <p>Address: {{ property.address }}</p>
    <p>City: {{ property.city }}</p>
    <p>Zip Code: {{ property.zipCode }}</p>
    <p>Description:<br>{{ property.description }}</p>
    <p>Build Year: {{ property.getBuildYear|date('Y-m-d') }}</p>
{% endblock %}
